For this project, you'll need to use three Python libraries: Pillow, Pygame, and Tkinter. Here is how to install them and their 
roles in the project.

Pillow(PIL)-

Pillow is a Python Imaging Library used to handle image processing tasks like opening, resizing, and converting image formats.
In this project, it's used to load and resize clothing and character assets before displaying them in the interface.

To install Pillow, run this in your terminal:
pip install Pillow

Pygame-

Pygame is a Python library used for game development. In this project, it's used to load and play background music.

To install Pygame, run this in your terminal:
pip install Pygame

Tkinter-

Tkinter is Python’s standard GUI library, used to build graphical user interfaces. It’s used in this project to create buttons, 
a canvas for character images, and manage layout.

Tkinter usually comes pre-installed with Python, so you typically don't need to install it manually.

import tkinter as tk
from tkinter import PhotoImage
from PIL import Image, ImageTk
import pygame
from tkinter import filedialog
from PIL import ImageGrab

